<div class="item">
  <div class="ui right aligned grid">
    <div class="sixteen wide column">
      <div class="ui checkbox lights-toggle">
          <input type="checkbox" tabindex="0" class="hidden">
          <label><i class="ui icon moon"></i></label>
      </div>&nbsp;
      <div class="ui checkbox comments-toggle">
          <input type="checkbox" tabindex="0" class="hidden">
          <label><i class="ui icon hide"></i></label>
      </div>&nbsp;
      <div class="ui checkbox shuffle-toggle">
          <input type="checkbox" tabindex="0" class="hidden">
          <label><i class="ui icon wizard"></i></label>
      </div>
    </div>
  </div>
</div>
<div class="item">
  <div class="filtros">
    <div data-filter="*" class="ui inverted tiny basic button">All</div>
  </div>
</div>
