<div class="toc">
    <div class="ui vertical sticky menu bottom">
        <div class="item">
            <table>
                <tbody>
                    <tr>
                        <td>{{> logo }}</td>
                        <td>
                            <h3 class="cheats-title" style="margin:0px; padding-left:10px">{{ title }}</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="item">
            <div class="ui action fluid inverted input">
                <input id="sidebar-search" class="search-input" type="text" placeholder="Search...">
                <button class="ui icon button search-btn">
                    <i class="search icon"></i>
                </button>
            </div>
        </div>
        {{> items }}
    </div>
</div>
