@import "variables";
/*************************** [ global module] ****************************/
.pusher > .full.height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.ui.menu {
    /* hide divider between menu items */
    &.vertical .item:before,
    .item:before,
    .item:before {
        background: none;
    }
}
/**************************** [ prism module] *****************************/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: none;
  padding: 0px;
}

.inverted {
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
  	background: none;
    padding: 0px;
  }
}
/**************************** [ logo module] *****************************/
svg.logo {
    width: @logoWidth;
    height: @logoHeight;
    fill: @logoColor;
}
.inverted {
  svg.logo {
      fill: @logoInvertedColor;
  }
}
.ui.vertical.menu .item {
     svg.logo {
        fill: @sidebarLogoColor;
        width: @sidebarLogoWidth;
        height: @sidebarLogoHeight;
    }
}
/**************************** [ page module] *****************************/
.page {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 1813px!important;
    margin: @pageWideMargin;
    .ui.items {
        .item {
            margin-bottom: @pageItemMarginBottom;
            padding-top: 2em;
            .header {
                font-size: 24px!important;
                margin-bottom: 0.3em;
            }
            .description p {
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
    h1.ui.header {
        .content {
            font-size: 130%;
            .sub.header {
                margin: 1em 0;
            }
        }
    }
    p {
        font-weight: 300;
        font-size: @baseFonSize;
    }
    a {
        color: @pageLinkColor;
        font-size: @baseFonSize;
        &:hover {
            color: @pageLinkHoverColor;
        }
    }
    @media only screen and (max-width: @wideResolution) {
        & {
            margin: @pageMediumMargin;
        }
    }
    @media only screen and (max-width: @mediumResolution) {
        & {
            margin: @pageNarrowMargin;
        }
    }
}
/*************************** [ footer module] ****************************/
.ui.footer {
    display: @footerDisplay;
    color: @basePrimaryColor;
    font-family: @secondFontName;
    &.vertical {
        background-color: @sidebarBackgroundColor;
        div{
          padding: @footerDivPadding;
          float: none;
          overflow: hidden;
          background: @footerBackgroundColor;
        }
        div when not (@footerFreeStyle){
          text-align: center;
          width: auto;
          &:first-child {
              width: @sidebarWidth;
              float: left;
              background-color: @sidebarBackgroundColor;
              @media only screen and (max-width: @wideResolution) {
                  & { /* hide toc side of the footer */
                      display: none!important;
                  }
              }
          }
          &:first-child when (@footerFullWide) {
              /* hide left side of the footer when full width */
              display: none!important;
          }
      }
    }
    .heart {
        vertical-align: middle;
        width: @footerHeartWidth;
        height: @footerHeartHeight;
        fill: @footerHeartColor;
    }
}
/******************** [ table of content (toc) module] *******************/
.pusher > .full.height > .toc {
    min-height: 1813px!important;
    position: relative;
    z-index: 1;
    background-color: @sidebarBackgroundColor;
    width: @sidebarWidth;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    .ui.menu {
        border-radius: 0;
        border-width: 0;
        background-color: @sidebarBackgroundColor;
        box-shadow: none;
        padding: @sidebarMenuPadding;
        width: inherit;
        overflow: hidden;
        will-change: transform;
        .item {
            width: @sidebarContentWidth;
            color: @sidebarItemTextColor;
            margin: 0 auto;
            text-align: @sidebarItemTextAlign;
            &:first-child {
                img {
                    width: @sidebarTopItemImgWidth;
                    margin: @sidebarTopItemImgMargin;
                }
            }
        }
    }
    @media only screen and (max-width: @wideResolution) {
        & {
            display: none !important;
        }
    }
}
/************************** [ main menu module] **************************/
.ui.menu.main {
  border: 0!important;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: @mainMenuBackground;
  font-family: @secondFontName;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
  &.fixed {
    background-color: @mainMenuFixedBackground;
    border: 1px solid #DDD;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    &.inverted {
      background-color: @mainInvertedMenuFixedBackground;
    }
  }
  .item .logo {
    margin-right: 1.5em;
  }
  .header.title {
      margin: 0;
      padding-left: 10px;
  }
  & > .container {
      margin: @mainMenuContainerMargin!important;
      width: 100% !important;
      max-width: none !important;
      & > .launch.item {
        display: @mainMenuLaunchDisplay!important;
      }
  }
  @media only screen and (min-width: @wideResolution /* i.e. 1200px */) {
    display: @mainMenuFullDisplay!important;
    &.placeholder{
      display: none!important;
    }
  }
  @media only screen and (max-width: @wideResolution /* i.e. 1200px */) {
    /* add custom styles */
  }
  @media only screen and (max-width: @narrowResolution) {
      .header.title {
          display: none;
      }
  }
}
/* setup menu through main-menu-container */
.main-menu-container{
  padding-top: 1px;
}
/**************************** [ masonry module] ****************************/
.masonry {
  .brick {
    width: @brickNarrowWidth!important;
    margin: @brickMargin!important;
    @media only screen and (min-width: @narrowResolution /* i.e. 640px */) {
      & {
        width: @brickMediumWidth!important;
      }
    }
    @media only screen and (min-width: @mediumResolution /* i.e. 980px */) {
      & {
        width: @brickWideWidth!important;
      }
    }
    @media only screen and (min-width: @wideResolution /* i.e. 1200px */) {
      & {
        width: @brickMaxWidth!important;
      }
    }
  }
}
/*************************** [ slider module] ****************************/
#slider {
    background-color: @sidebarBackgroundColor;
    width: @sidebarWidth;
    border: 0;
    padding: @sidebarMenuPadding;
    .item {
        width: @sidebarContentWidth;
        color: @sidebarItemTextColor;
        margin: 0 auto;
        text-align: @sidebarItemTextAlign;
        &:first-child {
            img {
                width: @sidebarTopItemImgWidth;
                margin: @sidebarTopItemImgMargin;
            }
        }
    }
}
